<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="./fragments/default :: head('memberJoin')">
<meta charset="UTF-8">
<title>MemberJoin</title>
</head>
<body>

<div th:replace="./fragments/default :: nav"></div>
<div th:replace="./fragments/default :: jumbo"></div>






<form action="./join" th:action="@{./join}" th:object="${memberVO}" method="post" enctype="multipart/form-data">



<div class="input-group mb-3"  style=" width: 300px;">
  <input th:field="*{username}" name="username" type="text" class="form-control" placeholder="id" aria-label="Recipient's username" aria-describedby="button-addon2" >
	<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
</div>


<div class="input-group mb-3" style=" width: 300px;">
  <input th:field="*{password}" name="password" type="text" class="form-control" placeholder="password" aria-label="pw" aria-describedby="button-addon2">
	<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
</div>

 <div class="input-group mb-3" style=" width: 300px;">
  <input  th:field="*{pw1}" name="pw1" type="text" class="form-control" placeholder="password confirm" aria-label="pw confirm" aria-describedby="button-addon2">
	<p th:if="${#fields.hasErrors('pw1')}" th:errors="*{pw1}"></p>
</div> 

 <div class="input-group mb-3"  style=" width: 300px;">
  <input th:field="*{name}" name="name" type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="button-addon2" >
  <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
</div>
 
<div class="input-group mb-3"  style=" width: 300px;">
  <input th:field="*{email}" name="email" type="text" class="form-control" placeholder="email" aria-label="email" aria-describedby="button-addon2" >
	<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
</div>

<div class="input-group mb-3"  style=" width: 300px;">
  <input name="phone" type="text" class="form-control" placeholder="phone" aria-label="phone" aria-describedby="button-addon2" >
</div>

<div>
<input type="file" name="avatar" id="avatar">
</div>

<input type="submit" id="btn" value="JOIN" class="button">
</form>







<div th:replace="./fragments/default :: footer"></div>




</body>
</html>