<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="./fragments/default :: head('home')">
<meta charset="UTF-8">
<title>thymeleaf</title>
</head>
<body>


	<h1>index page</h1>


<div th:replace="./fragments/default ::nav"></div>


<div th:replace="./fragments/default :: jumbo"></div>


	<!-- message 꺼낼땐 #{message의 키 값} -->


		<div style="display: flex; justify-content: center;">
		

		<h1 th:text="#{hello}"></h1>
		<h1 th:text="#{user.welcome(${user},${msg})}"></h1>
		<h1 th:text="|user : ${session.member}|"></h1>
		</div>


	<footer th:replace="./fragments/default :: footer" ></footer>



</body>
</html>