<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.ss1.member.MemberMapper">



<insert id="setJoin" parameterType="MemberVO" >
insert member values(#{username},#{password},#{name},#{email},#{phone},#{enabled})
</insert>

<insert id="setMemberRole" parameterType="java.util.Map">
insert into member_role (userName,id)
values (#{userName},(select id from role where roleName=#{roleName}))
</insert>


<insert id="setJoinFile" parameterType="MemberFileVO">
	insert into memberFiles (id,fileName,ogName) values(#{id},#{fileName},#{ogName})
</insert>



<select id="getLogin" parameterType="MemberVO" resultType="MemberVO">
select * from member
where username=#{username} and password=#{password}
</select>

<update id="setUpdate" parameterType="MemberVO">
update member set password=#{password},name=#{name},email=#{email},phone=#{phone} where username=#{username}
</update>

<delete id="setDelete" parameterType="MemberVO">
delete from member where username=#{username}
</delete>

<select id="getSelectId" parameterType="MemberVO" resultType="MemberVO">
select * from member where username=#{username}
</select>




</mapper>