<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.iu.ss1.board.notice.NoticeMapper">


	<sql id="searcher">
		<where>
				<choose>		
					<when test="kind=='Writer'">
						writer like concat('%',#{search},'%')
					</when>
					
					<when test="kind=='contents'">
						contents like concat('%',#{search},'%')
					</when>
			
					<otherwise>
						title like concat('%',#{search},'%')
					</otherwise>
			
				</choose>
			</where>
	</sql>





	<select id="getList" resultType="NoticeVO" parameterType="Pager">
<!-- 	 	select * from
		(select rownum R, N.* from
		(select * from notice order by num desc) N )
		where R between 1 and 10  오라클식-->
		
		
		
		select * from notice
		<include refid="searcher"></include>
		order by num desc
		limit #{startRow},#{perPage}
<!-- 		select * from notice order by num desc
		limit #{startRow},#{perPage} -->
		<!-- limit 시작index(0부터 시작),갯수 -->
	
	</select>
	
	

    <select id="getSelect" resultType="NoticeVO" parameterType="NoticeVO">
    select * from notice where num=#{num}
    
    </select>
    
    
    
    <select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
    	select count(num) from notice
    	<include refid="searcher"></include>
    </select>
    
    
    
    
    <insert id="setInsert">
    insert into notice values(#{num},#{title},#{writer},#{contents},now(),0);
    </insert>











</mapper>